.sidebaroption{
    display:flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 3px;
    padding: 5px 20px;
    gap: 10px;
    font-weight: bold;
    font-size: 12px;
    
}
.sidebaroption:hover{
 cursor: pointer;
 background-color:rgb(211 211 211/40%);
 border-radius: 10px;
}